<section>
  <label for="catID">Category:</label>
  <select name="catID" class="form-control" [(ngModel)]="selectedCatID">
    <option value="0">All</option>
    <option *ngFor="let cat of catList" [value]="cat.id">{{cat.name}}</option>
  </select>
  <div class="d-flex flex-direction-column gap-5 my-2">
    <div class="form-control">
      <label for="maxPrice" class="me-2">Max Price:</label>
      <input type="number" name="maxPrice" #maxPrice>
    </div>
    <div class="form-control">
      <label for="minPrice" class="me-2">Min Price:</label>
      <input type="number" name="minPrice" #minPrice>
    </div>
  </div>
</section>
<hr>
<app-product-list 
  [selectedCat]="selectedCatID"  
  (cartProducts)="getCartProducts($event)">
</app-product-list>
<hr>
<section>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Count</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let prd of orderedList; let i =index" >
      <tr [class]="{'bg-warning':prd.amount==0}">
        <td>{{i+1}}</td>
        <td>{{prd.name}}</td>
        <td>{{prd.price}}</td>
        <td>
          <input #newAmount type="number" [defaultValue]="prd.amount" (change)="itemCountChange(i, +newAmount.value)">
        </td>
        <td>
          <button class="btn btn-danger" (click)="removeItem(i)">Remove</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
</section>
<hr>
<div class="d-flex justify-content-between px-5 mb-2">
  <h3>Total Price:{{totalPrice}}</h3>
  <button class="btn btn-success" (click)="completeShop()">Complete Shopping</button>
</div>